body {
  font-family: "Arial";
}

button {
  border: none;
  background-color: white;
  color: orange;
  padding: 5pt 10pt;
  font-size: 12pt;
}

table {
  width: 100%;
}

td {
  padding: 8pt 0pt;
}

input {
  width: 80%;
}

h2 {
  text-transform: uppercase;
  font-size: 16pt;
}

.Body {
  color: orange;
}

#bmiResult {
  font-style: italic;
  font-weight: normal;
}

#idealisTesttomegSpan {
  font-style: italic;
  font-weight: normal;
}

#idealisTesttomegTD {
  font-weight: bold;
}

.Head {
  background-color: orange;
  padding: 10pt;
  color: white;
}

.tableText {
  width: 75%;
}

.tableForm {
  width: 20%;
}

.tableUnit {
  width: 5%;
}

.bmiTable {
  width: 80%;
  margin: auto;
  padding: 0px;
  border-collapse: collapse
}

.bmiTableRow td:first-child{
  color: black;
  text-transform: none;
  font-weight: bold;
  text-align: center;
  width: 40%;
}

.bmiTableRow {
  color: black;
  text-transform: uppercase;
}

.bmiTableRow td {
  border-top: 1px solid grey;
  padding: 20px 0px;
}

.selectedBmiTableRow td {
  background-color: orange;
}

.bmiTable tr:first-child td{
  border: none;
}

.idealisTable {
  width: 80%;
  margin: auto;
  padding: 0px;
  border-collapse: collapse
}

.idealisTable td {
  color: black;
  width: 60%;
}

.idealisTable td:first-child {
  color: orange;
  width: 40%;
  text-align: center;
}
